/*
 * Empty Stylesheet file.
 */


.text-field {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #434343;
}


.button:pressed{
    -fx-background-color: #3176b5;
}

.button{
    -fx-background-color: #46a2f8;
}
