/*
 * Empty Stylesheet file.
 */


.text-field {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #434343;
}


.button:pressed{
    -fx-background-color: #3176b5;
}

.button{
    -fx-background-color: #46a2f8;
}


.check-box .box {

-fx-background-color: white;
-fx-border-color:#6c6c6c;
-fx-border-width: 0.5;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: white;
-fx-shape: "M 731 169 L 402 659 L 263 521 C 199.901 464.531 100.418 564.053 150 621 L 359 836 C 376.192 852.667 394.917 860.261 415.057 859.475 C 432.054 858.811 451.62 857.146 468 837 L 872 239 C 916.451 172.732 798.377 73.133 731 169 Z";


}

.check-box:selected .box {

-fx-background-color: #46a2f8;
}

