/*
 * Empty Stylesheet file.
 */


.text-field {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #434343;
}


.button:pressed{
    -fx-background-color: #3176b5;
}

.button{
    -fx-background-color: #46a2f8;
}

.button:hover {
    -fx-cursor: hand;
}

#button:hover {
    -fx-cursor: hand;
}


.check-box .box {

-fx-background-color: #d9d9d9;
-fx-border-color:#6c6c6c;
-fx-border-width: 0.3;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: white;
-fx-shape: "M731,169L402,659L263,521C199.901,464.531 100.418,564.053 150,621L359,836C376.192,852.667 394.917,860.261 
    415.057,859.475C432.054,858.811 451.62,857.146 468,837L872,239C916.451,172.732 798.377,73.133 731,169Z";


}

.check-box:selected .box {
-fx-background-color: #46a2f8;
}

@font-face {
    src: url("HelveticaNeue-Bold.ttf");
}

@font-face {
    src: url("HelveticaNeue-01.ttf");
}

